# Misc
/.git/
/Dockerfile
/Dockerfile*

# Notes
/TODO
*.md
*.log
*.dump
/db/data/
/papers/
**/*.pdf

# Bin
/bin/
/remora
/deinopis

# Scripts
/scripts/
/cmd/docker/
/cmd/deploy/
/Makefile
/psql
/test
**/*.sh
**/*.sql

# Tests
**/*_test.go
/web/testdata/
/crawl-output/

# Deployment Code
deployment.yml
/cmd/deploy
/cmd/docker

# Local Config
/.vscode/
/config/
/.gitignore
/.dockerignore
/.env
/config.yml
/docker-compose.yml
/deployment.yml
/docker-bake*