# Misc
#/.git/
/Dockerfile
/Dockerfile*
**/node_modules/

# Notes
/TODO
*.md
*.log
*.dump
/papers/
**/*.pdf

# Bin
/bin/

# Scripts
/scripts/buildx.sh
/scripts/config.sh
/scripts/list_imports.sh
/scripts/logs.sh
/scripts/redis.sh
/scripts/resetdb.sh
/psql
**/*.sql

# Tests
/crawl-output/
/test/

# Deployment Code
/cmd/docker
deployment.yml

# Local Config
/.vscode/
/config/
/.gitignore
/.dockerignore
/.env
/config.yml
/docker-compose.yml
/docker-bake*

# Data
/db/data/
/data
