# Bin
/bin/
/diktyo
/remora
/deinopis

# Testing
/test
*.test
*.pprof
*.ps
*.log
*.txt

# Config
/.vscode
/*env*
/diktyo.yml
/config.yml
/remora.yml
/deployment.yml

# Notes
/papers/
*.pdf
TODO*
notes.*

# Scripts
/scripts/
/psql
/test
/db/*.sql
*.sh

# Database
/db/data
/_queue
*.dump

crawl-output
