# Documents
LICENSE

# Build
/bin/
/remora
/deinopis
node_modules/
/frontend/node_modules/
/frontend/dist/
/cmd/remora/LICENSE
/internal/mock/

# Testing
/test
*.test
*.pprof
*.ps
*.log
*.txt

# Config
/.vscode
/config/
/*env*
/config.yml
/remora.yml
/deployment.yml
/docker-bake*
Dockerfile.arm

# Notes
/papers/
*.pdf
TODO*
notes.*

# Scripts
/scripts/
/psql
/test
/db/*.sql
*.sh

# Database
/db/data
/_queue
*.dump
/data

crawl-output
