# Bin
/diktyo

# Testing
/test
*.test
*.pprof
*.ps
*.log
*.txt

# Config
/.vscode
/*env*
/diktyo.yml

# Notes
/papers/
*.pdf
TODO*
notes.*

# Scripts
/psql
/test
/db/*.sql
*.sh

# Database
/db/data
/_queue
*.dump
